:root {
	--page-width: 758px;
	--page-margin: auto;
}

body {
	margin: 0;
	color: white;
	background: 
		linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),
		radial-gradient(83.04% 42.4% at 51.04% 28.71%, #3D342A 0%, rgba(61, 52, 42, 0.00) 100%) no-repeat,
		url(../static/img/noise.png),
		#1d1614;
	background-attachment: fixed;
}

@media (width < 800px) {
	:root {
		--page-width: auto;
		--page-margin: 3em;
	}
}